$font-family-primary: "Hiragino Sans";
$font-family-secondary: "Montserrat";
$font-size: 1.6rem;
$accent: #4AADD3;
$error: #F83131;
$accent-light: #EEF8FB;
$color-primary: #333333;
$color-light: #ffffff;
$border-color: #E0E0E0;
$disabled-button: #C9C9C9;
$bg-primary: $color-light;
$bg-secondary: #F7F7F7;
$bg-dark: #000;
$bg-accent: $accent-light;